<h1>LangGPS</h1>
<h2>Measure the progress of your language learning</h2>

<section>
  <%= link_to 'Sign In', new_user_session_path %>
  <%= link_to 'Register', new_user_registration_path %>
</section>
